<!DOCTYPE html>
<html>
    <head>
        <title>Javascript</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="nav-bar">
            <h2 id="page-title" class="title"><%= name %></h2>
            <div class="nav-wrapper">
                <a id="js-nav" class="nav-option" href="index">Javascript</a>
                <a id="react-nav" class="nav-option" href="react">React.js</a>
                <a id="vue-nav" class="nav-option" href="vue">Vue.js</a>
                <a id="angular-nav" class="nav-option" href="angular">Angular.js</a>
            </div>
            <a class="source-link" href="https://hackr.io/blog/10-best-javascript-frameworks-2019" target="_blank">Source</a>
        </nav>