<% include partials/header.ejs %>
        
        <section class="section-half" style="margin-right: 150px;">
            <div id="angular" class="content-wrapper">
                <div class="text-wrapper">
                    <p class="text">
                        Regarded as one of the most powerful and efficient, and open-source, JavaScript frameworks is Angular. 
                        This framework is operated by Google, and is essentially used for developing Single Page Applications (SPA). 
                        It extends the HTML into the application and interprets the attributes.
                    </p>
                </div>
            </div>
        </section>
        
        
        <section class="section-half">
            <div class="content-wrapper">
                <div class="img-wrapper">
                    <img id="main-image" src="<%= image %>" alt="Angular">
                </div>
            </div>
        </section>
<% include partials/footer.ejs %>