<% include partials/header.ejs %>
        
        <section class="section-half" style="margin-right: 150px;">
            <div id="js" class="content-wrapper">
                <div class="img-wrapper">
                    <a href="https://hackr.io/blog/10-best-javascript-frameworks-2019">
                        <img id="main-image" src="<%= image %>" alt="JS">
                    </a>
                </div>
            </div>
        </section>
        
        
        <section class="section-half">
            <div class="content-wrapper">
                <div class="text-wrapper">
                    <p class="text">
                        JavaScript is a language that supports event-driven, functional, and imperative (object-oriented and prototype-based) programming styles. 
                        It was initially used only for client side, but today JavaScript is used as a server-side programming language as well.
                    </p>
                </div>
            </div>
        </section>
        
<% include partials/footer.ejs %>