<% include partials/header.ejs %>
        
        <section class="section-half" style="margin-right: 150px;">
            <div id="react" class="content-wrapper">
                <div class="text-wrapper">
                    <p class="text">
                        React framework, created by Facebook, has gained much popularity in a short amount of time. 
                        It is used to develop and operate the dynamic User Interface of the web pages of some of the worlds most trafficed web pages.
                        It makes the use of a virtual DOM, and is known for its modularity and reusability.
                    </p>
                </div>
            </div>
        </section>
        
        
        <section class="section-half">
            <div class="content-wrapper">
                <div class="img-wrapper">
                    <img id="main-image" src="<%= image %>" alt="React">
                </div>
            </div>
        </section>
<% include partials/footer.ejs %>