<% include partials/header.ejs %>
        
        
        <section class="section-half" style="margin-right: 150px;">
            <div id="js" class="content-wrapper">
                <div class="img-wrapper">
                    <a href="https://hackr.io/blog/10-best-javascript-frameworks-2019">
                        <img src="https://cdn.pixabay.com/photo/2015/04/23/17/41/javascript-736400_960_720.png" alt="JS">
                    </a>
                </div>
            </div>
            <div id="react" class="content-wrapper">
                <div class="text-wrapper">
                    <p class="text">
                        React framework, created by Facebook, has gained much popularity in a short amount of time. 
                        It is used to develop and operate the dynamic User Interface of the web pages of some of the worlds most trafficed web pages.
                        It makes the use of a virtual DOM, and is known for its modularity and reusability.
                    </p>
                </div>
            </div>
            <div id="vue" class="content-wrapper">
                <div class="img-wrapper">
                    <a href="">
                        <img src="https://cdn.worldvectorlogo.com/logos/vue-9.svg" alt="Vue">
                    </a>
                </div>
            </div>
            <div id="angular" class="content-wrapper">
                <div class="text-wrapper">
                    <p class="text">
                        Regarded as one of the most powerful and efficient, and open-source, JavaScript frameworks is Angular. 
                        This framework is operated by Google, and is essentially used for developing Single Page Applications (SPA). 
                        It extends the HTML into the application and interprets the attributes.
                    </p>
                </div>
            </div>
        </section>
        
        
        <section class="section-half">
            <div class="content-wrapper">
                <div class="text-wrapper">
                    <p class="text">
                        JavaScript is a language that supports event-driven, functional, and imperative (object-oriented and prototype-based) programming styles. 
                        It was initially used only for client side, but today JavaScript is used as a server-side programming language as well.
                    </p>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="img-wrapper">
                    <img src="https://cdn.worldvectorlogo.com/logos/react.svg" alt="React">
                </div>
            </div>
            <div class="content-wrapper">
                <div class="text-wrapper">
                    <p class="text">
                        Though developed in the year 2016, Vue.js has already made its way into the market and has proven its worth. 
                        Its dual integration mode is one of the most attractive features for creating high-end Single Page Applications, as well as its modular component-based structure. 
                        It is much reliable for developing cross-platform.
                    </p>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="img-wrapper">
                    <img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" alt="Angular">
                </div>
            </div>
        </section>
        <script type="text/javascript" src="assets/assets.js"></script>
<% include partials/footer.ejs %>