<% include partials/header.ejs %>
        
        <section class="section-half" style="margin-right: 150px;">
            <div id="vue" class="content-wrapper">
                <div class="img-wrapper">
                    <a href="">
                        <img id="main-image" src="<%= image %>" alt="Vue">
                    </a>
                </div>
            </div>
        </section>
        
        
        <section class="section-half">
            <div class="content-wrapper">
                <div class="text-wrapper">
                    <p class="text">
                        Though developed in the year 2016, Vue.js has already made its way into the market and has proven its worth. 
                        Its dual integration mode is one of the most attractive features for creating high-end Single Page Applications, as well as its modular component-based structure. 
                        It is much reliable for developing cross-platform.
                    </p>
                </div>
            </div>
        </section>
<% include partials/footer.ejs %>
